@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
    font-family: 'Nanum Myeongjo', serif;
}


@import url('https://webfontworld.github.io/kopus/KoPubWorldBatang.css');



/* pretendard 폰트 설정 */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="pretendard"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="pretendard"]::before {
    content: "Pretendard";
    font-family: "Pretendard-Regular";
}

.ql-font-pretendard {
    font-family: "Pretendard-Regular";
}


/* 나눔 명조 폰트 설정 */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="nanum"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="nanum"]::before {
    content: "나눔명조";
    font-family: "Nanum Myeongjo";
}

.ql-font-nanum {
    font-family: "Nanum Myeongjo";
}

/* Kopub 바탕 폰트 설정 */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="batang"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="batang"]::before {
    content: "Kopub바탕체";
    font-family: "KoPubWorldBatang";
}

.ql-font-batang {
    font-family: "KoPubWorldBatang";
}


.quill {
    width: 100%;
    height: 500px;
}