* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
}

body {
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.InputContainer {}

.limit {}